<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Binary by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="" class="logo"><strong>樂屋網</strong> </a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="">Home</a></li>
					<li><a href="house">House</a></li>
					<li><a href="fund">Product</a></li>
					<li><a href="personal">Personal</a></li>
					<li><a href="register">Register</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" style="padding: 0px;">
                <div style="background-color: slategray;  padding: 40px;">
                     <head >
                                <h2 style="color: snow;">租房保險</h2>
                                <hr style="border-width: 3px; border-color: snow;">
                                <h3 style="color: snow;">租屋保險是房屋所有者購買的保險，租客保險是租房者購買的保險。這兩種保險在保護房子部分的內容是差不多的，都包含火災、風災、漏水等，但這兩種保險其實是不一樣的。因為房子是租給別人住的，保險只是保障屬於自己的東西，所以租屋保險只包含房子部分的內容，不包含私人財物這一項。一些屋主為了防止租客遭遇偷竊而給自己帶來麻煩，就會要求租客夠買租客保險，租客保險裡面可以保障屋內的私人財物以及一部分責任險。</h3>
                                <br>
                                <h2 style="color: snow;">基金</h2>
                                <hr style="border-width: 3px; border-color: snow;">
                                <h3 style="color: snow;">基金有廣義和狹義之分，從廣義上說，基金是機構投資者的統稱，包括信托投資基金、單位信托基金、公積金、保險基金、退休基金，各種基金會的基金。在現有的證券市場上的基金，包括封閉式基金和開放式基金，具有收益性功能和增值潛能的特點。</h3>
                        
                    </head>
                    </div>
                    <br><br>
				<div class="inner">
                    
                    <div class="row">
                       
                        <div class="6u">
                           
                            <table ><!--collect from db-->
                                <thead>
                                    <tr>
                                        <th>保險</th>
                                        <th>連結</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th>住宅火災及地震基本保險</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/n2tise_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>商業火災保險</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/btsisl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>住宅火災保險</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/2uisem_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>住戶傷害險</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/2ntise.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>住宅地震超額保險附加條款</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/3uisl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>住宅超額竊盜保險附加條款</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/mpl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="6u">
                           
                            <table ><!--collect from db-->
                                <thead>
                                    <tr>
                                        <th>基金</th>
                                        <th>連結</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th>安本環球亞洲地產股票基金A</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/n2tise_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>安本環球亞洲地產股票基金-A2累積(美元)</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/btsisl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>摩根士丹利亞洲房地產基金A(美元)</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/2uisem_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>瀚亞亞太不動產證券化基金A(台幣)</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/2ntise.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>施羅德亞太地產股票基金-A1/累積(美元)</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/3uisl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>瑞銀亞洲全方位不動產基金(台幣)</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/mpl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>