<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Binary by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="" class="logo"><strong>樂屋網</strong> </a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="">Home</a></li>
					<li><a href="house">House</a></li>
					<li><a href="fund">Product</a></li>
					<li><a href="personal">Personal</a></li>
					<li><a href="register">Register</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<div class="row uniform">
						<div class="5u">
										<div class="select-wrapper">
											<select name="category" id="category">
												<option value="">台北市</option>
												<option value="1">新北市</option>
												<option value="1">台中市</option>
												<option value="1">台南市</option>
												<option value="1">高雄市</option>
											</select>
										</div>
									</div>
							<div class="5u">
										<div class="select-wrapper">
											<select name="category" id="category">
												<option value="">文山區</option>
												<option value="1">中正區</option>
												<option value="1">大安區</option>
												<option value="1">信義區</option>
												<option value="1">南港區</option>
											</select>
										</div>
							</div>
					</div>
                    <div class="row uniform">
                        
	                    <div class="6u 12u$(xsmall)">
							<h4>Blockquote</h4>
							<blockquote style="padding-bottom: 80px;"><span class="image left"><img src="images/pic06.jpg" alt="" /></span>地址：文山區新光路一段79號<br>押金：兩個月<br>每半年租金：100000NT<br>
							
							</blockquote>
							<a href="info2" class="button" style="">更多資訊</a>
							<a href="" class="button special" style="">我要承租</a>
							<a href="" class="button " style="background-color: orangered">我要承租</a>
	                    </div>
                        
	                    <div class="6u 12u$(xsmall)">
							<h4>Blockquote</h4>
							<blockquote style="padding-bottom: 80px;"><span class="image left"><img src="images/pic06.jpg" alt="" /></span>地址：文山區新光路一段79號<br>押金：兩個月<br>每半年租金：100000NT<br>
							
							</blockquote>
								<a href="info2" class="button" style="">更多資訊</a>
							<a href="" class="button special" style="">我要承租</a>
							<a href="" class="button " style="background-color: orangered">我要承租</a>
	                    </div>
                        
                        </div>
                        <hr>
                        <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
							<h4>Blockquote</h4>
							<blockquote style="padding-bottom: 80px;"><span class="image left"><img src="images/pic06.jpg" alt="" /></span>地址：文山區新光路一段79號<br>押金：兩個月<br>每半年租金：100000NT<br>
							
							</blockquote>
								<a href="info2" class="button" style="">更多資訊</a>
							<a href="" class="button special" style="">我要承租</a>
							<a href="" class="button " style="background-color: orangered">我要承租</a>
	                    </div>
	                    <div class="6u 12u$(xsmall)">
							<h4>Blockquote</h4>
							<blockquote style="padding-bottom: 80px;"><span class="image left"><img src="images/pic06.jpg" alt="" /></span>地址：文山區新光路一段79號<br>押金：兩個月<br>每半年租金：100000NT<br>
							
							</blockquote>
								<a href="info2" class="button" style="">更多資訊</a>
							<a href="" class="button special" style="">我要承租</a>
							<a href="" class="button " style="background-color: orangered">我要承租</a>
	                    </div>
                        
                    </div>
                    								

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			

	</body>
</html>