<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Binary by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
		<noscript>
			<link rel="stylesheet" type="text/css" href="css/noscript.css" />
		</noscript>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="" class="logo"><strong>HouseRenting.com</strong> </a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="">Home</a></li>
					<li><a href="house">House</a></li>
					<li><a href="fund">Product</a></li>
					<li><a href="personal">Personal</a></li>
					<li><a href="elements">Contact Us</a></li>
					<li><a href="register">Register</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Who are we?<br />
					我們是xx銀行發起的區塊鏈租屋平台，給每個人找到夢想中的房子
 					</h1>
					<ul class="actions">
						<li><a href="#one" class="button alt scrolly big">Continue</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post  style1">
				<div class="image">
					<img src="images/pic14.jpg" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">簡介</a></h2>
							<p style="color: black">在這裡，我們進行實名認證，建立租屋雙方的信任。 </p>
						</header>
						<p style=" text-align: left">我們利用智能合約紀錄每一次交易，均無法竄改，你將在此平台完成最安全的交易。<br>
						同時我們提供線上申請貸款服務，你將能在家輕鬆解決一次性鉅額租金的問題！<br></p>
						
					</div>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style1 alt">
				<div class="image">
					<img src="images/pic13.jpg" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">流程</a></h2>
							<p style="color: white">如何在此平台建立一份合約？ </p>
						</header>
						<p>首先，進行實名認證，填寫相關身分資訊。<br>我們要認識你，在填寫您真實身分資訊是建立彼此信任的基礎。</p>
						<ul class="actions">
							<li><a href="generic.html" class="button alt">前往註冊</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Three -->
			<article id="three" class="post style2">
				<div class="image">
					<img src="images/pic12.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">租屋</a></h2>
							<p style="color: black">房屋資訊的可信度？ </p>
						</header>
						<p style=" text-align: left">身為承租者，房屋資訊往往是令人頭痛的問題。<br>資訊不完整以及資訊不透明是房東與您產生矛盾的開始。<br>在HouseRenting.com，我們制訂了最完整的資訊表格並且經過嚴格審核，建立雙方誠信交易的第一步<br>
						</p>
						<ul class="actions">
							<li><a href="generic.html" class="button alt">前往房屋資訊</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Four -->
			<article id="four" class="post invert style2 alt">
				<div class="image">
					<img src="images/pic14.jpg" alt="" data-position="60% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">出租</a></h2>
							<p style="color: white">如何刊登？ </p>
						</header>
						<p>身為房東，經過完善個人資訊，您即可在個人頁面進行刊登<br>我們將提供您制式化的表格方便您在最短時間完成刊登！<br>
						完成審核後，您的出租資訊將在第一時間刊登在平台上，隨著用戶點閱率增加，我們將不定期選出推薦房屋增加您出租房屋的曝光度！
						</p>
						<ul class="actions">
							<li><a href="generic.html" class="button alt">前往個人頁面</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Five -->
			<article id="five" class="post style3">
				<div class="image">
					<img src="images/pic13.jpg" alt="" data-position="5% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">基金與保險</a></h2>
							<p style="color: black">租完房了，您還需要什麼？ </p>
						</header>
						<p style=" text-align: left">在完成一筆交易後，您最需要的是基金與保險，我們不僅考慮到每筆交易的安全性，同時也考慮到您的權益與人身的安全。<br>
						我們提供了完整一條龍的服務，再建立一份智能合約後，我們將提供您XX銀行特別與此平台合作最優惠的基金與保險！</p>
						<ul class="actions">
							<li><a href="generic.html" class="button alt">前往基金與保險相關資訊</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#four" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#six" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Six -->
			<article id="six" class="post invert style3 alt">
				<div class="image">
					<img src="images/pic12.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">聯絡我們</a></h2>
							<p style="color: white">取得最新資訊？更多功能？ </p>
						</header>
						<p>
							親愛的用戶您好！<br>
							歡迎前往我們的粉絲專業，我們為您量身打造最客製化的聊天機器人！<br>
							您將可以透過與聊天機器人互動取得最新最熱門的房屋資訊，同時透過我們為您進行第三方支付，為您節省更多時間。
						</p>
						<ul class="actions">
							<li><a href="generic.html" class="button alt">聯絡我們</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#five" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next disabled"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>