<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Binary by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/sweetalert2.css">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="" class="logo"><strong>樂屋網 HappyHouse.com</strong> </a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="">Home</a></li>
					<li><a href="house">House</a></li>
					<li><a href="fund">Product</a></li>
					<li><a href="personal">Personal</a></li>
					<li><a href="register">Register</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" style="padding-top: 0px;background-color: oldlace;">
                <div class="12u$"><span class="image fit"><img style="height: 350px;" src="images/pic11.jpg" alt="" /></span></div>
				<br><br>
                <div class="inner" style="">
                    <div style="padding: 10px;">
                        
                            <div>
                                
                                <span class="image left"><img src="images/personal.png" style="width: 80px;"  alt="" /></span>
                                <div style="font-weight: bold; font-size: 40px;">用戶資料</div>
                            </div>
                            <hr style="border-width: 3px;">
                            <div class="row">
                                <div class="6u">
                                    <h3 class="sign">姓名：{{{user_name}}}</h3><br>
                                    <h3 class="sign">帳號：{{{user_ID}}}</h3><br>
									<h3 class="sign">APTkey：BIPUEFGIPUWH3745UFHAI</h3>
                                </div>
                                <div class="6u">
                                    <h3 class="sign">信箱：{{{user_email}}}</h3><br>
                                    <h3 class="sign">電話：{{{user_phone}}}</h3>
                                </div>
                            </div>
                            <br><br>
                            <div style="padding: 20px;background-image: url('images/backgroung.jpg');background-repeat: no-repeat;background-position: center;">
                                <h3 style="text-align: center;color: snow; ">點擊刊登您的房屋資訊</h3>
                                <div style="padding-left: 30%;padding-right: 30%;">
                                    
                                    <a href="post" class="button fit alt" >Post</a>
                                </div>
                            </div>
                        </div>
						<br>
						<br>
						  <div class="row">
                       
                        <div class="6u">
                           
                            <table ><!--collect from db-->
                                <thead>
                                    <tr>
                                        <th>追蹤清單</th>
                                        <th>連結</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/n2tise_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/btsisl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/2uisem_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/2ntise.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/3uisl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>住宅超額竊盜保險附加條款</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/mpl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="6u">
                           
                            <table ><!--collect from db-->
                                <thead>
                                    <tr>
                                        <th>已建立合約</th>
                                        <th>連結</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/n2tise_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/btsisl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/2uisem_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/2ntise.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/3uisl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>

                                    <tr>
                                    <th>台北市新光路一段79號</th>
                                    <th><a href="https://www.esunbank.com.tw/bank/-/media/esunbank/files/insurance/product/life/nanshan/mpl_dm.pdf?la=en">詳細資訊</a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
            <script src="/sweetalert2.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>