#site-nav_NEW{
    width: 1020px !important;
}
#header-dealer{
    width: 1000px !important;
}
#newRentDetail{
    width: 1000px !important;
}
#main,.main_house_info,.houseInfo{
    width: 1000px;
}
.detailBox .leftBox ,.leftBox #show{
    width: 670px;
}

.leftBox #show .viewer{
    width: 670px;
}
.leftBox .textarea textarea{
    width: 660px;
}
#PAGE_AD_753,#PAGE_AD_749{
    width: 1000px !important;
}
.leftBox .labelList li{
    width: 50%;
}
#PAGE_AD_753 img ,#PAGE_AD_749 img{
    width: 1000px;
}
#footer, #footer .footnav{
    width: 1000px !important;
}

#j_image_viewer{
    width: 562px!important;
    height: 439px!important;
}
.detailBox .imgBox{
    height: 450px !important;
}
.thumbnails{
    height: 388px !important;
}
#j_image_viewer .noImgs{
    width: 562px;
    height: 439px;
}

.bottomTip .second{
    width: 940px;
}

.housingRecom li{
    margin-right: 20px;
}

.housingRecom .Nomargin {
    display: none;
}

.community ul{
    width: 382px;
}

.community ul .communityIntroduce{
    height: 78px;
}

.community .communityDetail{
    margin-top: 15px;
    position: initial;
    width: 670px;
}