<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Binary by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo"><strong>HouseRenting.com</strong> </a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
		<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="house">House</a></li>
					<li><a href="fund">Product</a></li>
					<li><a href="personal">Personal</a></li>
					<li><a href="elements">Contact Us</a></li>
					<li><a href="register">Register</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
		<form id="sign_up-form" action="sign_up" method="post">
			<section id="main" style="height: 1100px; background-color: lightslategrey">
				<div class="inner">
                    <h3 style="color: snow;">用戶登入</h3><br>
                    
									<div class="form-group">
										<div class="6u 12u$(xsmall)" style="margin-bottom: 30px;">
											<h3 style="color: snow;">真實姓名</h3>
											<input type="text" style="color: gray; border-color: snow;" id="contact-name" name="name" value="" placeholder="Id" />
										</div>
									</div>
									<div class="form-group">
										<div class="6u$ 12u$(xsmall)" style="margin-bottom: 30px;">
											<h3 style="color: snow;">帳號</h3>
											<input type="email" style="color: gray;border-color: snow;" name="ID" id="contact-id" value="" placeholder="Password" />
										</div>
									</div>
									<div class="form-group">
										<div class="6u$ 12u$(xsmall)" style="margin-bottom: 30px;">
											<h3 style="color: snow;">密碼</h3>
											<input type="email" style="color: gray;border-color: snow;" name="password" id="contact-password" value="" placeholder="Password" />
										</div>
									</div>
									<div class="form-group">
										<div class="6u$ 12u$(xsmall)" style="margin-bottom: 30px;">
											<h3 style="color: snow;">手機號碼</h3>
											<input type="email" style="color: gray;border-color: snow;" name="phone" id="contact=phone" value="" placeholder="Password" />
										</div>
									</div>
									<div class="form-group">
										<div class="6u$ 12u$(xsmall)" style="margin-bottom: 30px;">
											<h3 style="color: snow;">信箱</h3>
											<input type="email" style="color: gray;border-color: snow;" name="email" id="contact-email" value="" placeholder="Password" />
										</div>
									</div>
                                    <br>
                                    <input type="submit" class="special button" value="Submit">
                    
				</div>
			</section>
			</form>

		<!-- Footer -->
			

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>